[user]
	name = Dmitry Neverov
	email = dmitry.neverov@gmail.com
[color]
	branch = auto
	status = auto
	diff = auto
	interactive = auto
[alias]
	st = status
	co = checkout
	br = branch
  cp = cherry-pick
  glog = log --graph
[core]
  editor = /usr/local/bin/emacsclient -a '' -c $@
[push]
  default = current
